p{
    background-color: blue;
    color: black;
}
.toto{
    background-color: blueviolet;
    color: blue;
    text-align: center;

}
.bibi{
     background-color: black;
     color: aqua;
}
#banane{
    color:blueviolet;
}
body{
    background-color: aqua;
}